body {
    background-color: #000000;
}
  
p {
    color: #ffffff;
}
  
.main-header {
    width: 100%; 
    height: 40%;
    text-align: center;
    display:block;
    position: fixed; 
    z-index: 3;
}

.heading {
    font-family: "Josefin Slab";
    font-size: 96px; font-weight: bold; 
}